<div class="backdrop is-hidden" data-backdrop-locations>
    <div class="modal modal-locations">
        <h2 class="modal-title modal-locations-title">Our Locations</h2>
        <button type="button" class="modal-btn-close" data-modal-close-locations>
            <svg class="modal-icon-close" width="18" height="18">
                <use href="./images/svg/icons.svg#icon-cross"></use>
            </svg>
        </button>
        <div class=" modals-thumb">
            <picture>
                <source src="./images/modals/modal-lock-desk-img1.jpg" media="(max-width: 767px)" />
                <source src="./images/modals/modal-lock-desk-img1.jpg" media="(min-width: 768px)" />
                <img class="locations-img" src="./images/modal/maps-mobl.jpg" alt="locations" />
            </picture>
        </div>
        <a href="https://goo.gl/maps/maSsx5Yk2prJAdCM9" target="_blank" rel="noopener, noreferrer, nofollow"
            class="modal-locations-link">Open map</a>
    </div>
</div>